{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreras</title>
</head>
<body>
    {% block content %}
    <h1>Este es el contenido de las carreras</h1>
    <table>
        <thead>
            <td>ID</td>
            <td>Nombre</td>
            <td>Creditos</td>
            <td>facultad</td>    
        </thead>
        {% for i in carreras %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.credits}}</td>
            <td>{{i.faculty.name}}</td>  
        </tr>
        {% endfor %}

    </table>

</body>
</html>
{% endblock  %}